<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  
  豆瓣最受欢迎的影评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="影评,热门影评,最新影评"/>
  <meta name="description" content="豆瓣最受欢迎的影评,发表你的影评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/e3f4e21541fe4b2.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/c7db1e57a6f6aebaa1d8ca83a62a94904c19df95/js/douban.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/faf4e3047552fe4c8a20b9a9dafab7088b4f71c3/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.js" defer="defer"></script>





      



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2018?source=navigation"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
     >2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.js" defer="defer"></script>






  
  <div id="wrapper" class="movie-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的影评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=movie">      <span>新片评论</span>    </a>  </li>

  </ul>
  



<div class="review-list chart ">
            
    
    <div data-cid="9593388">
        <div class="main review-item" id="9593388">
                <a class="subject-img" href="https://movie.douban.com/subject/4739952/">                    <img alt="初恋这件小事" title="初恋这件小事" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1505312273.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/132758789/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u132758789-6.jpg">
        </a>

        <a href="https://www.douban.com/people/132758789/" class="name">男神的炎迪迪</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-15" class="main-meta">2018-08-15 10:30:04</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9593388/">深藏于心的那份青涩</a></h2>

                <div id="review_9593388_short" class="review-short" data-rid="9593388">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        学长他就像我生命中的灵感，他让我了解爱的积极意义，他就像是让我一直前进的动力， 其实这部在内地12年上映的泰国校园爱情小清新电影，每次想到学生时期的那份纯纯爱恋，总是会把它再刷一遍，遍遍的感触都不同，就像那个她永远在我心裡，但却越来越模糊。 校园+淡淡初恋+死党...

                        &nbsp;(<a href="javascript:;" id="toggle-9593388-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9593388_full" class="hidden">
                    <div id="review_9593388_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9593388" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9593388">
                                155
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9593388" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9593388">
                                40
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9593388/#comments" class="reply ">30回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9592082">
        <div class="main review-item" id="9592082">
                <a class="subject-img" href="https://movie.douban.com/subject/26985127/">                    <img alt="一出好戏" title="一出好戏" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/4448539/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u4448539-32.jpg">
        </a>

        <a href="https://www.douban.com/people/4448539/" class="name">夜第七章</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 19:59:16</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《一出好戏》惊喜看点汇总">#《一出好戏》惊喜看点汇总</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9592082/">从《一出好戏》谈反乌托邦：世界尽头与冷酷仙境</a></h2>

                <div id="review_9592082_short" class="review-short" data-rid="9592082">
                    <div class="short-content">

                        一 人类文明的「蝇王」式困境 看了黄渤的《一出好戏》，无端地想起了《蝇王》，虽然这不是他剧本的原型，美剧《迷失》和特稿《太平洋逃杀记》更接近于他对于故事的想象。 但《一出好戏》的剧本结构能与《蝇王》相互参照。一群人因遭厄运流落到孤岛，被困在前文明的环境里。两个...

                        &nbsp;(<a href="javascript:;" id="toggle-9592082-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9592082_full" class="hidden">
                    <div id="review_9592082_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9592082" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9592082">
                                602
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9592082" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9592082">
                                45
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9592082/#comments" class="reply ">65回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590937">
        <div class="main review-item" id="9590937">
                <a class="subject-img" href="https://movie.douban.com/subject/25814705/">                    <img alt="小森林 夏秋篇" title="小森林 夏秋篇" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2221319641.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182798080/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182798080-4.jpg">
        </a>

        <a href="https://www.douban.com/people/182798080/" class="name">你谁呀</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 11:26:08</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9590937/">此味只有天上有</a></h2>

                <div id="review_9590937_short" class="review-short" data-rid="9590937">
                    <div class="short-content">

                        假如你现在想看一部日本电影，又觉得大师们的片子太厚重，不易接近，新电影又拿不准看个啥能轻松娱乐赏心悦目又不失逼格，那么电影红花会就给你指条明路:《小森林夏秋篇》！就是一部不看不知道，一看真奇妙的佳片，去年全世界最好看的电影之一，不信？看完无感您回来插了战台烽...

                        &nbsp;(<a href="javascript:;" id="toggle-9590937-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590937_full" class="hidden">
                    <div id="review_9590937_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590937" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590937">
                                136
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590937" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590937">
                                20
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9590937/#comments" class="reply ">30回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590829">
        <div class="main review-item" id="9590829">
                <a class="subject-img" href="https://movie.douban.com/subject/2043546/">                    <img alt="秒速5厘米" title="秒速5厘米" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p982896012.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/132758789/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u132758789-6.jpg">
        </a>

        <a href="https://www.douban.com/people/132758789/" class="name">男神的炎迪迪</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 10:42:07</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9590829/">秒速五厘米，灵魂飘落的速度</a></h2>

                <div id="review_9590829_short" class="review-short" data-rid="9590829">
                    <div class="short-content">

                        当你走在熙熙攘攘的街头，忽然，一张似曾相识的脸出现在眼帘之中。未及细看，那身影已翩然而过。当你回头，茫茫人海里已无处寻觅，而刚才的邂逅，竟不知是真实存在，还是脑海中的虚幻。猛然间，那个曾经才下眉头却上心头的名字，就这样再次萦绕不去了。 不知道诸位有没有过这种...

                        &nbsp;(<a href="javascript:;" id="toggle-9590829-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590829_full" class="hidden">
                    <div id="review_9590829_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590829" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590829">
                                149
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590829" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590829">
                                16
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9590829/#comments" class="reply ">27回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9591655">
        <div class="main review-item" id="9591655">
                <a class="subject-img" href="https://movie.douban.com/subject/27040737/">                    <img alt="祈祷落幕时" title="祈祷落幕时" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2552073598.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182580804/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182580804-2.jpg">
        </a>

        <a href="https://www.douban.com/people/182580804/" class="name">电影解毒</a>

            <span class="allstar30 main-title-rating" title="还行"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 16:39:50</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9591655/">不是我剧透，是墙先开的口</a></h2>

                <div id="review_9591655_short" class="review-short" data-rid="9591655">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        对我们这种搞影评糊口的，“剧透”问题是永远的痛。 你不剧透吧，让人觉得文章没说重点，就在绕圈子蹭人家电影热度。你剧透吧，“剧透，取关了。” 我只好说，“这电影结尾拍得不错。”朋友：“哎哎哎你别剧透啊。” 我：？？？ 天地良心，电影里的墙，都比我剧透得多。 当然，...

                        &nbsp;(<a href="javascript:;" id="toggle-9591655-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9591655_full" class="hidden">
                    <div id="review_9591655_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9591655" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9591655">
                                253
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9591655" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9591655">
                                17
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9591655/#comments" class="reply ">24回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590896">
        <div class="main review-item" id="9590896">
                <a class="subject-img" href="https://movie.douban.com/subject/1292220/">                    <img alt="情书" title="情书" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p449897379.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182791023/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182791023-1.jpg">
        </a>

        <a href="https://www.douban.com/people/182791023/" class="name">打死不吃西红柿</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 11:09:21</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9590896/">情书——追忆那逝水年华，一念成殇</a></h2>

                <div id="review_9590896_short" class="review-short" data-rid="9590896">
                    <div class="short-content">

                        《情书》是一部经典的初恋向青春电影，有着日本电影的典型特色，带着死亡的气息，哀凄而美好。在我看过的青春类型爱情片里，欧洲少年是忧伤而特立独行的；美国的少年是阳光而自由奔放的；韩国的少年是倔强而坚韧内敛的；只有日本的青春片，或体育热血，或文艺小清新，都隐隐带...

                        &nbsp;(<a href="javascript:;" id="toggle-9590896-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590896_full" class="hidden">
                    <div id="review_9590896_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590896" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590896">
                                124
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590896" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590896">
                                18
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9590896/#comments" class="reply ">25回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9591858">
        <div class="main review-item" id="9591858">
                <a class="subject-img" href="https://movie.douban.com/subject/27018299/">                    <img alt="方向" title="方向" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2457117693.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/pocier/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182164233-5.jpg">
        </a>

        <a href="https://www.douban.com/people/pocier/" class="name">破词儿</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 17:56:18</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9591858/">天这么热，打个的吧</a></h2>

                <div id="review_9591858_short" class="review-short" data-rid="9591858">
                    <div class="short-content">

                        出租车从来不是简单的交通工具。 跑遍大街小巷的老司机是活地图，不论地址多么复杂，总会准确达。 上面还有风土人情，不论乘客身份各异，总会留下形色的故事。 史帝芬·柯曼达瑞夫深谙其道。 [方向]中，他让六台出租车飞驰在保加利亚首都。 寒冬料峭，乘客和司机各怀心事。车内...

                        &nbsp;(<a href="javascript:;" id="toggle-9591858-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9591858_full" class="hidden">
                    <div id="review_9591858_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9591858" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9591858">
                                55
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9591858" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9591858">
                                6
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9591858/#comments" class="reply ">2回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9591927">
        <div class="main review-item" id="9591927">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/havenwind/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u1554831-5.jpg">
        </a>

        <a href="https://www.douban.com/people/havenwind/" class="name">风息神泪</a>

            <span class="allstar30 main-title-rating" title="还行"></span>

        <span content="2018-08-14" class="main-meta">2018-08-14 18:28:01</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9591927/">打个商量，放过它，不要折腾，算了吧</a></h2>

                <div id="review_9591927_short" class="review-short" data-rid="9591927">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        教科书一样标准的六十分电影了。 仿佛一个绝色美人，站在顶级舞台，无数镜头锁定，一身珠光天衣，然后开始表演眼保健操。 这就不免让观众十分纠结了：你要朝她扔烂苹果或者唾骂吧，她的确有尚可之处。你要真心实意夸吧，简直又是为难自己。 以下含剧透吐槽： 1、设定真的很不错...

                        &nbsp;(<a href="javascript:;" id="toggle-9591927-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9591927_full" class="hidden">
                    <div id="review_9591927_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9591927" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9591927">
                                136
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9591927" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9591927">
                                13
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9591927/#comments" class="reply ">39回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9590031">
        <div class="main review-item" id="9590031">
                <a class="subject-img" href="https://movie.douban.com/subject/26985127/">                    <img alt="一出好戏" title="一出好戏" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/163694915/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u163694915-1.jpg">
        </a>

        <a href="https://www.douban.com/people/163694915/" class="name">罗罔极</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-13" class="main-meta">2018-08-13 23:02:38</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《一出好戏》惊喜看点汇总">#《一出好戏》惊喜看点汇总</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9590031/">黄渤暗藏的哲思，这篇看得最透——《一出好戏》终极解读</a></h2>

                <div id="review_9590031_short" class="review-short" data-rid="9590031">
                    <div class="short-content">

                        前阵子，我犯了个错。 我在文章里说，当下的大陆喜剧，有两大派系分庭抗礼。 一派是徐峥宁浩，其作品核心偏于人间悲剧； 一派是开心麻花，其作品核心偏于纯粹喜剧。 没想到，现在又杀出个程咬金。 八年酝酿，慢工打磨。 导演、编剧：黄渤。 这一出手，就震惊四座—— 《一出好...

                        &nbsp;(<a href="javascript:;" id="toggle-9590031-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9590031_full" class="hidden">
                    <div id="review_9590031_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9590031" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9590031">
                                297
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9590031" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9590031">
                                46
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9590031/#comments" class="reply ">48回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9589353">
        <div class="main review-item" id="9589353">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182580804/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182580804-2.jpg">
        </a>

        <a href="https://www.douban.com/people/182580804/" class="name">电影解毒</a>

            <span class="allstar20 main-title-rating" title="较差"></span>

        <span content="2018-08-13" class="main-meta">2018-08-13 18:32:20</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/如何评价《巨齿鲨》在氛围营造方面展现的惊悚效果？">#如何评价《巨齿鲨》在氛围营造方面展现的惊悚效果？</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9589353/">鲨鲨这么猛，怎么能拿来做腌鱼干！</a></h2>

                <div id="review_9589353_short" class="review-short" data-rid="9589353">
                    <div class="short-content">

                        一看到[巨齿鲨]的片名，你大概会觉得也就是部灾难商业爆米花片罢了； 但冲着“巨齿鲨”这三个字，我还是默默买了电影票。 说真的，大型远古海洋生物，难道不该是大家的顶级燃点吗？ 当然，还有一大堆纪录片可以安利给大家。 以上涉及“大型远古海洋生物”的电影和纪录片中，有...

                        &nbsp;(<a href="javascript:;" id="toggle-9589353-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9589353_full" class="hidden">
                    <div id="review_9589353_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9589353" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9589353">
                                130
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9589353" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9589353">
                                36
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9589353/#comments" class="reply ">28回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>


    

    

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/d91713c714195.js"></script>
    <!-- COLLECTED CSS -->
</div>








  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="3">1</span>
                
            <a href="/review/best?start=20" >2</a>
        
                
            <a href="/review/best?start=40" >3</a>
        
        <span class="next">
            <link rel="next" href="/review/best?start=20"/>
            <a href="/review/best?start=20" >后页&gt;</a>
        </span>

            <span class="count">(共50条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>



  </div>

  
    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/movie">订阅豆瓣最受欢迎的影评</a>  </span>
</p>







      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  
    

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'AC6d2-rbZFc',
            criteria = '3:/review/best/?start=0',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_movie_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/f7fcb2dca1f33ff6108874c49190caff5f600e34/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- brand54-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


