<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  
  豆瓣最受欢迎的影评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="影评,热门影评,最新影评"/>
  <meta name="description" content="豆瓣最受欢迎的影评,发表你的影评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/e3f4e21541fe4b2.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/c7db1e57a6f6aebaa1d8ca83a62a94904c19df95/js/douban.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/faf4e3047552fe4c8a20b9a9dafab7088b4f71c3/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.js" defer="defer"></script>





      



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2018?source=navigation"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
     >2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.js" defer="defer"></script>






  
  <div id="wrapper" class="movie-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的影评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=movie">      <span>新片评论</span>    </a>  </li>

  </ul>
  



<div class="review-list chart ">
            
    
    <div data-cid="9582297">
        <div class="main review-item" id="9582297">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/178739892/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u178739892-9.jpg">
        </a>

        <a href="https://www.douban.com/people/178739892/" class="name">黑色星期五</a>

            <span class="allstar30 main-title-rating" title="还行"></span>

        <span content="2018-08-11" class="main-meta">2018-08-11 16:54:06</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《巨齿鲨》的优缺点汇总">#《巨齿鲨》的优缺点汇总</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9582297/">史前巨兽变成了海中大鱼</a></h2>

                <div id="review_9582297_short" class="review-short" data-rid="9582297">
                    <div class="short-content">

                        之前看过《狂暴巨兽》和《摩天营救》给出的评语总是“中规中矩的爆米花大片”，昨天看完这部《巨齿鲨》，我发现我错了。《巨齿鲨》这样的存在不知道如何挤进了暑期档，总之，用一个词来形容这部影片那就是“尴尬”。 尴尬的故事铺垫，影片前30分钟除了开场的探险船在海底遭遇巨...

                        &nbsp;(<a href="javascript:;" id="toggle-9582297-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9582297_full" class="hidden">
                    <div id="review_9582297_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9582297" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9582297">
                                36
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9582297" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9582297">
                                8
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9582297/#comments" class="reply ">7回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9581655">
        <div class="main review-item" id="9581655">
                <a class="subject-img" href="https://movie.douban.com/subject/1295409/">                    <img alt="纵横四海" title="纵横四海" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2272146906.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182719256/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182719256-1.jpg">
        </a>

        <a href="https://www.douban.com/people/182719256/" class="name">逆袭的泥巴</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-11" class="main-meta">2018-08-11 13:33:57</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9581655/">这是最好的结局</a></h2>

                <div id="review_9581655_short" class="review-short" data-rid="9581655">
                    <div class="short-content">

                        其实我相信亚Joe一直都爱着红豆的，红豆最后是否还喜欢亚占我不确定，但是我觉得电影的结局是最好的结局。 亚占和亚Joe对爱的表达方式不同，亚占给人的感觉是体贴的，对红豆的照顾是全身心全方位的。亚Joe的对爱意的表达则是，我喜欢你我就捉弄你，搞个恶作剧什么的，没有亚占...

                        &nbsp;(<a href="javascript:;" id="toggle-9581655-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9581655_full" class="hidden">
                    <div id="review_9581655_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9581655" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9581655">
                                31
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9581655" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9581655">
                                1
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9581655/#comments" class="reply ">7回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9582995">
        <div class="main review-item" id="9582995">
                <a class="subject-img" href="https://movie.douban.com/subject/25986180/">                    <img alt="釜山行" title="釜山行" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2360940399.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/138464613/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u138464613-15.jpg">
        </a>

        <a href="https://www.douban.com/people/138464613/" class="name">泡椒凤爪</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-11" class="main-meta">2018-08-11 20:04:29</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9582995/">人性的放大镜</a></h2>

                <div id="review_9582995_short" class="review-short" data-rid="9582995">
                    <div class="short-content">

                        其实人们往往都是这样:越倡导什么，证明越缺少什么。 比如我们倡导做人要无私一些，要顾全大局，而现实则是人在面临很多需要抉择的时候，人性的贪婪、自私会尽数显现。 这本是一个通往让人幸福方向的列车:回家探亲，出去游玩，但是突如其来的意外，把他们卷入到人性抉择的难题...

                        &nbsp;(<a href="javascript:;" id="toggle-9582995-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9582995_full" class="hidden">
                    <div id="review_9582995_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9582995" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9582995">
                                30
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9582995" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9582995">
                                4
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9582995/#comments" class="reply ">4回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9576885">
        <div class="main review-item" id="9576885">
                <a class="subject-img" href="https://movie.douban.com/subject/24852545/">                    <img alt="爱情公寓" title="爱情公寓" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2521648155.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/68210064/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u68210064-1.jpg">
        </a>

        <a href="https://www.douban.com/people/68210064/" class="name">Veto</a>

            <span class="allstar10 main-title-rating" title="很差"></span>

        <span content="2018-08-10" class="main-meta">2018-08-10 12:05:51</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9576885/">【转图】爱情公寓全剧透！就是盗墓笔记外传！水军片方洗地粉无脑行为真是一出好戏！</a></h2>

                <div id="review_9576885_short" class="review-short" data-rid="9576885">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        补充：现在是4:36购票平台还没有出评分 危机公关看来全用在推迟评分上面了 目前所有反应都与下文所述不谋而合 作为新中国第一部猛艹粉丝的电影 祝愿你们以后拿好这次被你们骗了的粉丝的钱 然后从此滚出影视圈。让我们记住他们的名字：汪远！！！！韦正、陈宏伟、连瑞影业！！高...

                        &nbsp;(<a href="javascript:;" id="toggle-9576885-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9576885_full" class="hidden">
                    <div id="review_9576885_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9576885" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9576885">
                                3708
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9576885" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9576885">
                                308
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9576885/#comments" class="reply ">469回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9579553">
        <div class="main review-item" id="9579553">
                <a class="subject-img" href="https://movie.douban.com/subject/26985127/">                    <img alt="一出好戏" title="一出好戏" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/hulin921/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u51059063-2.jpg">
        </a>

        <a href="https://www.douban.com/people/hulin921/" class="name">江户川的哀</a>

            <span class="allstar20 main-title-rating" title="较差"></span>

        <span content="2018-08-10" class="main-meta">2018-08-10 23:35:56</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9579553/">就没人说不好了吗？翻了好久全说好的</a></h2>

                <div id="review_9579553_short" class="review-short" data-rid="9579553">
                    <div class="short-content">

                        几点想说的，不吐不快 1、黑色幽默，荒诞片。要么就荒诞到底，如《蛮荒故事》，而不要是喜剧片、灾难片、爱情片、科幻片、伦理片等的结合体 2、我就是想看个喜剧，有这么难吗？尬的笑点，尬的套路。第一次在电影院想快点结束的电影，还不如西虹市首富让你笑的痛快 3、讲道理可...

                        &nbsp;(<a href="javascript:;" id="toggle-9579553-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9579553_full" class="hidden">
                    <div id="review_9579553_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9579553" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9579553">
                                4725
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9579553" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9579553">
                                2248
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9579553/#comments" class="reply ">1778回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9576584">
        <div class="main review-item" id="9576584">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/167392628/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u167392628-4.jpg">
        </a>

        <a href="https://www.douban.com/people/167392628/" class="name">有趣</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-10" class="main-meta">2018-08-10 09:57:19</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9576584/">关于中国元素，我想说几句。</a></h2>

                <div id="review_9576584_short" class="review-short" data-rid="9576584">
                    <div class="short-content">

                        首先，我能告诉大家，《巨齿鲨》是一部6.5到7分，对比强森的《狂暴巨兽》的合格爆米花电影。拍鲨鱼的电影是多，但之前的《鲨滩》和《鲨海》都是主讲美女对抗鲨鱼，主打小格局下的幽暗惊悚，但这是一部妥妥的怪兽片！这部电影不是一部中国特供片，全球只有一种版本播放，是实打...

                        &nbsp;(<a href="javascript:;" id="toggle-9576584-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9576584_full" class="hidden">
                    <div id="review_9576584_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9576584" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9576584">
                                1288
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9576584" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9576584">
                                229
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9576584/#comments" class="reply ">549回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9575067">
        <div class="main review-item" id="9575067">
                <a class="subject-img" href="https://movie.douban.com/subject/24852545/">                    <img alt="爱情公寓" title="爱情公寓" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2521648155.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/149411280/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u149411280-3.jpg">
        </a>

        <a href="https://www.douban.com/people/149411280/" class="name">无忌</a>

            <span class="allstar10 main-title-rating" title="很差"></span>

        <span content="2018-08-09" class="main-meta">2018-08-09 15:33:26</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9575067/">揭秘二十一世纪电影票房预售一亿骗局，一个蹭ip的电影因为ip过期强行卖情怀，上映前的断言不仅仅是臆测，理性分析爱情公寓到底为什么注定是部烂片。</a></h2>

                <div id="review_9575067_short" class="review-short" data-rid="9575067">
                    <div class="short-content">

                        电影原名新次元冒险家，只不过是找了爱情公寓的演员，故事本身和爱情公寓无关，制片方为了打情怀牌圈钱改名爱情公寓 其实稍微查一下新次元冒险家的资料就会发现，电影立案是在去年，片方前前后后的筹划肯定要打个提前量，时间一下子就退到了2016年，正是盗墓笔记电影大火的时候...

                        &nbsp;(<a href="javascript:;" id="toggle-9575067-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9575067_full" class="hidden">
                    <div id="review_9575067_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9575067" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9575067">
                                588
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9575067" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9575067">
                                47
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9575067/#comments" class="reply ">85回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9576018">
        <div class="main review-item" id="9576018">
                <a class="subject-img" href="https://movie.douban.com/subject/26985127/">                    <img alt="一出好戏" title="一出好戏" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/houtouchong/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u3492022-12.jpg">
        </a>

        <a href="https://www.douban.com/people/houtouchong/" class="name">猴头虫</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-09" class="main-meta">2018-08-09 22:49:24</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9576018/">《一出好戏》戏里戏外，带着黄渤式的幽默，探讨着黄渤的世界观。</a></h2>

                <div id="review_9576018_short" class="review-short" data-rid="9576018">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        上海影城《一出好戏》的首映礼看完的整体感觉 四个字：真 的 好 看！ 再四个字：值 得 二 刷！ 很多从演员蜕变成导演的多重身份艺人对电影的理解和传统的导演是不一样的，所以这些人的片子特别是处女座都有着极强的个人性格。 黄渤更是个典型。一部《一出好戏》看完，第一感觉...

                        &nbsp;(<a href="javascript:;" id="toggle-9576018-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9576018_full" class="hidden">
                    <div id="review_9576018_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9576018" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9576018">
                                150
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9576018" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9576018">
                                18
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9576018/#comments" class="reply ">14回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9575998">
        <div class="main review-item" id="9575998">
                <a class="subject-img" href="https://movie.douban.com/subject/27622447/">                    <img alt="小偷家族" title="小偷家族" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530599636.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/182091851/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u182091851-4.jpg">
        </a>

        <a href="https://www.douban.com/people/182091851/" class="name">少一个</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-09" class="main-meta">2018-08-09 22:40:23</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《小偷家族》哪个地方让你动情了？">#《小偷家族》哪个地方让你动情了？</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9575998/">《小偷家族》哪个地方让你动情了？</a></h2>

                <div id="review_9575998_short" class="review-short" data-rid="9575998">
                    <div class="short-content">

                        等了很久，终于刷了是枝裕和的《小偷家族》。满分的满意。 看完后也终于理解，之前让我很意外的，很多日本人觉得是枝裕和的金棕榈奖，是国家的耻辱：为什么要向全世界输出日本的小偷形象？ 为了反驳这种论调，说说我看到的电影真相吧。 “除了偷，我没有什么可以教给他们的了。...

                        &nbsp;(<a href="javascript:;" id="toggle-9575998-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9575998_full" class="hidden">
                    <div id="review_9575998_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9575998" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9575998">
                                97
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9575998" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9575998">
                                2
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9575998/#comments" class="reply ">14回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9575188">
        <div class="main review-item" id="9575188">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/65569388/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u65569388-2.jpg">
        </a>

        <a href="https://www.douban.com/people/65569388/" class="name">大海里的针</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-09" class="main-meta">2018-08-09 16:28:22</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9575188/">郭达硬刚巨齿鲨，三亚游客全吓傻</a></h2>

                <div id="review_9575188_short" class="review-short" data-rid="9575188">
                    <div class="short-content">

                        “中国人民的老朋友”郭达·斯坦森（简称“郭达森”）又来了，在这个大片云集的暑期档，他带来了一部消暑力作——《巨齿鲨》。 这位浑身肌肉的英伦硬汉，在过往的作品里怼黑帮、怼雇佣军、怼飞车家族...... 天上飞的地上跑的，全被他怼了一遍，这次终于要怼水里游的了，没办法...

                        &nbsp;(<a href="javascript:;" id="toggle-9575188-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9575188_full" class="hidden">
                    <div id="review_9575188_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9575188" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9575188">
                                32
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9575188" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9575188">
                                9
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9575188/#comments" class="reply ">8回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>


    

    

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/d91713c714195.js"></script>
    <!-- COLLECTED CSS -->
</div>








  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/review/best?start=0"/>
            <a href="/review/best?start=0" >&lt;前页</a>
        </span>
        
        

                
            <a href="/review/best?start=0" >1</a>
        
                <span class="thispage" data-total-page="3">2</span>
                
            <a href="/review/best?start=40" >3</a>
        
        <span class="next">
            <link rel="next" href="/review/best?start=40"/>
            <a href="/review/best?start=40" >后页&gt;</a>
        </span>

            <span class="count">(共50条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>



  </div>

  
    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/movie">订阅豆瓣最受欢迎的影评</a>  </span>
</p>







      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  
    

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'HrnFzatcuZA',
            criteria = '3:/review/best/?start=20',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_movie_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/f7fcb2dca1f33ff6108874c49190caff5f600e34/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- anson29-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


