<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
  
  豆瓣最受欢迎的影评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="影评,热门影评,最新影评"/>
  <meta name="description" content="豆瓣最受欢迎的影评,发表你的影评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/zerkalo/4b7b75331a86c9c8275ac6b7306e820fc072e09a/css/init.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/e3f4e21541fe4b2.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/c7db1e57a6f6aebaa1d8ca83a62a94904c19df95/js/douban.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/faf4e3047552fe4c8a20b9a9dafab7088b4f71c3/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=main" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="on">
      <a href="https://www.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/shire/bundle.js" defer="defer"></script>





      



    <link href="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2018?source=navigation"
     >2018年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2018?source=navigation"
     >2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.js" defer="defer"></script>






  
  <div id="wrapper" class="movie-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的影评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=movie">      <span>新片评论</span>    </a>  </li>

  </ul>
  



<div class="review-list chart ">
            
    
    <div data-cid="9570678">
        <div class="main review-item" id="9570678">
                <a class="subject-img" href="https://movie.douban.com/subject/26426194/">                    <img alt="巨齿鲨" title="巨齿鲨" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530572643.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/nicemovie/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u179503503-2.jpg">
        </a>

        <a href="https://www.douban.com/people/nicemovie/" class="name">美好电影公社</a>


        <span content="2018-08-07" class="main-meta">2018-08-07 16:33:17</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/如何评价《巨齿鲨》中主创们的表现？">#如何评价《巨齿鲨》中主创们的表现？</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9570678/">打遍全世界的杰森·斯坦森，这次挑战的是史前巨鲨</a></h2>

                <div id="review_9570678_short" class="review-short" data-rid="9570678">
                    <div class="short-content">

                        从《速度与激情》系列到《敢死队》系列，从《怒火攻心》到《玩命快递》，打遍全世界的杰森·斯坦森这次在《巨齿鲨》中挑战的是史前巨兽巨齿鲨。 以鲨鱼为主角的怪兽片可以追溯到70年代的《大白鲨》。当然，比起巨齿鲨来，大白鲨可谓是小巫见大巫了。 巨齿鲨是一个已灭绝的史前...

                        &nbsp;(<a href="javascript:;" id="toggle-9570678-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9570678_full" class="hidden">
                    <div id="review_9570678_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9570678" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9570678">
                                27
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9570678" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9570678">
                                9
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9570678/#comments" class="reply ">6回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9571167">
        <div class="main review-item" id="9571167">
                <a class="subject-img" href="https://movie.douban.com/subject/30263943/">                    <img alt="日本之耻" title="日本之耻" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2528968925.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/50548424/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u50548424-14.jpg">
        </a>

        <a href="https://www.douban.com/people/50548424/" class="name">喜喜喜喜喜喜饼</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-07" class="main-meta">2018-08-07 20:35:10</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9571167/">可怕的不是男权，而是支持男权的女人</a></h2>

                <div id="review_9571167_short" class="review-short" data-rid="9571167">
                    <div class="short-content">

                        这篇文章写了几个月了，谢谢各位的阅读，当时写完只是想到自己的一些事儿，有感而发，也许会有点词不达意，我不是什么作家，也不是写手，别用太专业的眼光来审核这篇文章，第二，这篇文章只是讲诉1，在日本，女性地位确实不高，2，为什么会出现很多性侵却不敢言语的现象，3，我...

                        &nbsp;(<a href="javascript:;" id="toggle-9571167-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9571167_full" class="hidden">
                    <div id="review_9571167_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9571167" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9571167">
                                231
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9571167" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9571167">
                                19
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9571167/#comments" class="reply ">89回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568755">
        <div class="main review-item" id="9568755">
                <a class="subject-img" href="https://movie.douban.com/subject/24852545/">                    <img alt="爱情公寓" title="爱情公寓" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2521648155.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/174159365/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u174159365-32.jpg">
        </a>

        <a href="https://www.douban.com/people/174159365/" class="name">天师章</a>

            <span class="allstar10 main-title-rating" title="很差"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 18:15:25</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《爱情公寓》有哪些“致敬”？如何评价这些“致敬”？">#《爱情公寓》有哪些“致敬”？如何评价这些“致敬”？</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568755/">我们骂爱抄公寓时我们在骂些什么（附强势反抄表情包）</a></h2>

                <div id="review_9568755_short" class="review-short" data-rid="9568755">
                    <div class="short-content">

                        评论区果然一波洗地，呵呵呵，都8102年了那些用烂的梗就别拿出来丢人现眼了。 https://www.douban.com/doubanapp/dispatch?uri=/review/9524038/ ———————————————————— 声明几句，这篇“影评”不全针对电影，实在是洗地工太过无耻，盛怒之下遂作此文一一驳...

                        &nbsp;(<a href="javascript:;" id="toggle-9568755-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568755_full" class="hidden">
                    <div id="review_9568755_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568755" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568755">
                                747
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568755" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568755">
                                108
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568755/#comments" class="reply ">631回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568166">
        <div class="main review-item" id="9568166">
                <a class="subject-img" href="https://movie.douban.com/subject/27622447/">                    <img alt="小偷家族" title="小偷家族" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2530599636.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/58041789/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u58041789-4.jpg">
        </a>

        <a href="https://www.douban.com/people/58041789/" class="name">彩骚戏话</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 14:02:23</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568166/">《小偷家族》各成员过往经历&amp;行为动机分析</a></h2>

                <div id="review_9568166_short" class="review-short" data-rid="9568166">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        以成员为单位对本片的剧情做了梳理，对每个角色过去留白的地方进行了一些猜测。 柴田初枝：在没有组成现在的家庭之前，初枝的晚年生活是相当寂寥的。《小偷家族》的小说里提到，初枝确实有一个儿子，和儿子儿媳住在现在的平房里，而儿子和儿媳的名字呢？正是治和信代。真正的治...

                        &nbsp;(<a href="javascript:;" id="toggle-9568166-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568166_full" class="hidden">
                    <div id="review_9568166_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568166" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568166">
                                2462
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568166" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568166">
                                44
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568166/#comments" class="reply ">87回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9569366">
        <div class="main review-item" id="9569366">
                <a class="subject-img" href="https://movie.douban.com/subject/26322774/">                    <img alt="纯洁心灵·逐梦演艺圈" title="纯洁心灵·逐梦演艺圈" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2510130772.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/32803476/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u32803476-5.jpg">
        </a>

        <a href="https://www.douban.com/people/32803476/" class="name">张科科</a>

            <span class="allstar10 main-title-rating" title="很差"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 23:16:27</span>

            <a class="rel-topic" target="_blank" href="//www.douban.com/gallery/topic/《纯洁心灵·逐梦演艺圈》有哪些方面值得关注？">#《纯洁心灵·逐梦演艺圈》有哪些方面值得关注？</a>

    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9569366/">《纯洁心灵·逐梦演艺圈》，中国电影的最高峰</a></h2>

                <div id="review_9569366_short" class="review-short" data-rid="9569366">
                    <div class="short-content">

                        曾几何时，你能想象出一部电影，丫每分钟都是槽点。就算你是想故意设计成这样，也不会达到吧。这不但需要极为高超的编剧技巧，同时也需要天赋。得此天赋者，百年一遇。只有那骨骼惊奇，眉宇间闪烁着光芒的少年才能有此杰作。以前我不知道，现在我确定，这个人，就是你，毕志飞 ...

                        &nbsp;(<a href="javascript:;" id="toggle-9569366-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9569366_full" class="hidden">
                    <div id="review_9569366_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9569366" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9569366">
                                84
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9569366" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9569366">
                                12
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9569366/#comments" class="reply ">25回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568010">
        <div class="main review-item" id="9568010">
                <a class="subject-img" href="https://movie.douban.com/subject/27050259/">                    <img alt="妈妈咪呀2" title="妈妈咪呀2" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2528272481.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/Queenie.Emika/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u2272123-250.jpg">
        </a>

        <a href="https://www.douban.com/people/Queenie.Emika/" class="name">猫司令</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 12:44:47</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568010/">她们的人生是一首永不结束的歌</a></h2>

                <div id="review_9568010_short" class="review-short" data-rid="9568010">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        新的《妈妈咪呀》上映了。听说是原班人马，很多老歌新编，还有我喜欢的希腊风光——熟悉的海报把我的记忆一下子就拉回多年前第一次在新买的DVD上看第一部《妈妈咪呀》的快乐假期。于是我第一天就约上我妈，去电影院先睹为快。 跟第一部一样，新的《妈妈咪呀》是以歌舞片的形式...

                        &nbsp;(<a href="javascript:;" id="toggle-9568010-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568010_full" class="hidden">
                    <div id="review_9568010_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568010" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568010">
                                34
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568010" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568010">
                                2
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568010/#comments" class="reply ">0回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568722">
        <div class="main review-item" id="9568722">
                <a class="subject-img" href="https://movie.douban.com/subject/26985127/">                    <img alt="一出好戏" title="一出好戏" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2529571873.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/80292676/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u80292676-1.jpg">
        </a>

        <a href="https://www.douban.com/people/80292676/" class="name">叶子</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 17:59:39</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568722/">试从美术角度浅谈“一出好戏”观赏性</a></h2>

                <div id="review_9568722_short" class="review-short" data-rid="9568722">
                    <div class="short-content">

                        【写在公映前】我看的搜狐专场提前点映，非专业影评，纯属个人感受。电影生猛、味道特别，艺术性娱乐性兼备，爆笑与深思同在，瑕不掩瑜，极具视觉观赏性。这里试从美术角度选谈谈电影的独特之处，不捧不黑，但，我确实体会到一出好戏不一样的味道，以至于需要二刷才能说得更准...

                        &nbsp;(<a href="javascript:;" id="toggle-9568722-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568722_full" class="hidden">
                    <div id="review_9568722_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568722" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568722">
                                39
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568722" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568722">
                                7
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568722/#comments" class="reply ">12回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568543">
        <div class="main review-item" id="9568543">
                <a class="subject-img" href="https://movie.douban.com/subject/26290398/">                    <img alt="美食大冒险之英雄烩" title="美食大冒险之英雄烩" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2530385279.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/61095484/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u61095484-121.jpg">
        </a>

        <a href="https://www.douban.com/people/61095484/" class="name">kiki拉雅</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 16:38:12</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568543/">纵然世界如何，愿你依然活得像孩子</a></h2>

                <div id="review_9568543_short" class="review-short" data-rid="9568543">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        听到这个电影名字的第一反应是： what？作为吃货的我必须看看美食还能干出什么大阵仗来。看完电影后的我：hey，一个包子都当了大英雄！我……也要完成自己的梦想。电影里以包子小强和寿司武士作为主线，来了一场香料四溅，唾沫横飞的大冒险。 首先说说片子的制作上简直可以媲美...

                        &nbsp;(<a href="javascript:;" id="toggle-9568543-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568543_full" class="hidden">
                    <div id="review_9568543_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568543" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568543">
                                31
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568543" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568543">
                                4
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568543/#comments" class="reply ">1回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568060">
        <div class="main review-item" id="9568060">
                <a class="subject-img" href="https://movie.douban.com/subject/1292064/">                    <img alt="楚门的世界" title="楚门的世界" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p479682972.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/156941004/" class="avator">
            <img width="24" height="24" src="https://img3.doubanio.com/icon/u156941004-5.jpg">
        </a>

        <a href="https://www.douban.com/people/156941004/" class="name">世界尽头</a>

            <span class="allstar50 main-title-rating" title="力荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 13:01:29</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568060/">谎言终究是谎言</a></h2>

                <div id="review_9568060_short" class="review-short" data-rid="9568060">
                    <div class="short-content">
                            <p class="spoiler-tip">这篇影评可能有剧透</p>

                        在楚门的生活中没有基丁这样的启蒙者，他要自发地觉醒并进行自我拯救，这在现实中几乎不可能，所以影片里，体制是不怀好意的，比起跋扈专横的父权，它演变成全民的偷窥行为。在这座无所不包的摄影棚里，导演给了楚门安逸、中产的生活，让他衣食无忧，快乐逍遥，代价就是导演把...

                        &nbsp;(<a href="javascript:;" id="toggle-9568060-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568060_full" class="hidden">
                    <div id="review_9568060_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568060" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568060">
                                34
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568060" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568060">
                                4
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568060/#comments" class="reply ">8回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>

            
    
    <div data-cid="9568611">
        <div class="main review-item" id="9568611">
                <a class="subject-img" href="https://movie.douban.com/subject/30162520/">                    <img alt="盛夏" title="盛夏" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2524209517.jpg" rel="v:image" />                </a>

            
    
    <header class="main-hd">
        <a href="https://www.douban.com/people/christan1987/" class="avator">
            <img width="24" height="24" src="https://img1.doubanio.com/icon/u49942459-8.jpg">
        </a>

        <a href="https://www.douban.com/people/christan1987/" class="name">平成御宅</a>

            <span class="allstar40 main-title-rating" title="推荐"></span>

        <span content="2018-08-06" class="main-meta">2018-08-06 17:02:15</span>


    </header>


            <div class="main-bd">

                <h2><a href="https://movie.douban.com/review/9568611/">性爱手枪</a></h2>

                <div id="review_9568611_short" class="review-short" data-rid="9568611">
                    <div class="short-content">

                        我的心情取决于喝了多少瓶酒。 列宁格勒的美妞像铁线虫一样入侵了我的灵魂和身躯 。 我年幼无知的生命从此离不开朗姆、伏特加，白兰地和威士忌。 你个傻逼维克多为什么要修改我的歌，你把我一枪崩了我还是会赞美伟大的社会主义。 你个傻逼要么唱好儿歌，要么给你儿子教画画，不...

                        &nbsp;(<a href="javascript:;" id="toggle-9568611-copy" class="unfold" title="展开">展开</a>)
                    </div>
                </div>

                <div id="review_9568611_full" class="hidden">
                    <div id="review_9568611_full_content" class="full-content"></div>
                </div>

                <div class="action">
                    <a href="javascript:;" class="action-btn up" data-rid="9568611" title="有用">
                        <img src="https://img3.doubanio.com/f/zerkalo/536fd337139250b5fb3cf9e79cb65c6193f8b20b/pics/up.png" />
                        <span id="r-useful_count-9568611">
                                56
                        </span>
                    </a>
                    <a href="javascript:;" class="action-btn down" data-rid="9568611" title="没用">
                        <img src="https://img3.doubanio.com/f/zerkalo/68849027911140623cf338c9845893c4566db851/pics/down.png" />
                        <span id="r-useless_count-9568611">
                                2
                        </span>
                    </a>
                    <a href="https://movie.douban.com/review/9568611/#comments" class="reply ">10回应</a>

                    <a href="javascript:;;" class="fold hidden">收起</a>
                </div>
            </div>
        </div>
    </div>


    

    

    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/d91713c714195.js"></script>
    <!-- COLLECTED CSS -->
</div>








  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/review/best?start=20"/>
            <a href="/review/best?start=20" >&lt;前页</a>
        </span>
        
        

                
            <a href="/review/best?start=0" >1</a>
        
                
            <a href="/review/best?start=20" >2</a>
        
                <span class="thispage" data-total-page="3">3</span>
        <span class="next">
            后页&gt;
        </span>

            <span class="count">(共50条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>



  </div>

  
    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/movie">订阅豆瓣最受欢迎的影评</a>  </span>
</p>







      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  
    

  <!-- COLLECTED JS -->
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = 'DnJJneE8hLA',
            criteria = '3:/review/best/?start=40',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_movie_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/f7fcb2dca1f33ff6108874c49190caff5f600e34/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- anson55-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>


